{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<script src="https://kit.fontawesome.com/a97047fead.js" crossorigin="anonymous"></script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3" style="background-color:#7700ff">
            <div class="row">
                <div class="col-3">
                    <img src="https://cdn-icons-png.flaticon.com/512/447/447057.png" alt="иконка"
                         style="width:auto; height:50px;">
                </div>
                <div class="col-9">
                    <h1>Меню</h1>
                </div>
                <row>
                    <li>
                        <ul><i class="fa-solid fa-user"> </i> <a href="#"> ссылка 1</a>  </ul>
                        <ul><i class="fa-solid fa-sign"> </i> <a href="#"> ссылка 2</a>  </ul>
                    </li>
                </row>
            </div>
        </div>
        <div class="col-md-9">
            <div class="container">
                <h1>Основная часть</h1>
            </div>
        </div>
    </div>
</div>