    <!-- Topbar Start -->
    {% load static %}
    {% load users_extras %}
    <div class="container-fluid d-none d-lg-block">
        <div class="row align-items-center bg-white py-3 px-lg-5">
            <div class="col-lg-4">
                <a href="{% url 'home' %}" class="navbar-brand p-0 d-none d-lg-block">
                    <h1 class="m-0 display-4 text-uppercase text-primary">Панель<span class="text-secondary font-weight-normal"> пользователя</span></h1>
                </a>
            </div>
        </div>
    </div>
    <!-- Topbar End -->

    <!-- Navbar Start -->
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-2 py-lg-0 px-lg-5">
            <a href="{% url 'home' %}" class="navbar-brand d-block d-lg-none">
                <h1 class="m-0 display-4 text-uppercase text-primary">Н<span class="text-white font-weight-normal">овости</span></h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-0 px-lg-3" id="navbarCollapse">
                <div class="navbar-nav mr-auto py-0">
                    <a href="{% url 'home' %}" {% if request.resolver_match.view_name == 'home' %} class="nav-item nav-link active" {% else %} class="nav-item nav-link" {% endif %}>Главная</a>
                    <a href="{% url 'profile' %}" {% if request.resolver_match.view_name == 'profile' %} class="nav-item nav-link active" {% else %} class="nav-item nav-link" {% endif %}>Мой профиль</a>
                    <a href="#" {% if request.resolver_match.view_name == 'news_index' %} class="nav-item nav-link active" {% else %} class="nav-item nav-link" {% endif %}>Избранное</a>
                    {% if request.user|has_group:"Authors" %}
                    <a href="#" {% if request.resolver_match.view_name == 'news_index' %} class="nav-item nav-link active" {% else %} class="nav-item nav-link" {% endif %}>Мои статьи</a>
                    {% endif %}
                    <a href="{% url 'logout' %}" {% if request.resolver_match.view_name == 'news_index' %} class="nav-item nav-link active" {% else %} class="nav-item nav-link" {% endif %}>Выход из аккаунта</a>
                    {% if request.user.id %}
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">{{ request.user.username }}</a>
                        <div class="dropdown-menu rounded-0 m-0">
                            {% if request.user|has_group:"Authors" %}
                            <a href="#" class="dropdown-item">Создать статью</a>
                            {% endif %}
                            <a href="{% url 'profile' %}" class="dropdown-item">Мой аккаунт</a>
                            <a href="{% url 'logout' %}" class="dropdown-item">Выход</a>
                        </div>
                    </div>
                    {% else %}
                    <a href="{% url 'login' %}" {% if request.resolver_match.view_name == 'login' %} class="nav-item nav-link active" {% else %} class="nav-item nav-link" {% endif %}>Вход</a>
                    <a href="{% url 'registration' %}" {% if request.resolver_match.view_name == 'registration' %} class="nav-item nav-link active" {% else %} class="nav-item nav-link" {% endif %}>Регистрация</a>
                    {% endif %}

                </div>

                <div class="input-group ml-auto d-none d-lg-flex" style="width: 100%; max-width: 300px;">
                    <input type="text" class="form-control border-0" placeholder="Поиск">
                    <div class="input-group-append">
                        <button class="input-group-text bg-primary text-dark border-0 px-3"><i
                                class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
                            <br >
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                  {{ message }}
                             </div>
                        {% endfor %}
                    {% endif %}
        </nav>
    </div>
    <!-- Navbar End -->