<script>

  $(function() {
    $("#search_input").autocomplete({
      source: "{% url 'search_auto' %}",
      select: function (event, ui) { //item selected
        AutoCompleteSelectHandler(event, ui)
      },
      minLength: 2,
    });
  });

  function AutoCompleteSelectHandler(event, ui)
  {
    var selectedObj = ui.item;
  }

</script>
            {% load i18n %}

    <!-- Topbar Start -->
    {% load static %}
    {% load users_extras %}
    <div class="container-fluid d-none d-lg-block">
        <div class="row align-items-center bg-white py-3 px-lg-5">
            <div class="col-lg-4">
                <a href="{% url 'home' %}" class="navbar-brand p-0 d-none d-lg-block">
                    <h1 class="m-0 display-4 text-uppercase text-primary">Н<span class="text-secondary font-weight-normal">овости</span></h1>
                </a>
            </div>

        </div>



    </div>





    <!-- Topbar End -->

    <!-- Navbar Start -->
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-2 py-lg-0 px-lg-5">
            <a href="{% url 'home' %}" class="navbar-brand d-block d-lg-none">
                <h1 class="m-0 display-4 text-uppercase text-primary">Н<span class="text-white font-weight-normal">овости</span></h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-0 px-lg-3" id="navbarCollapse">
                <div class="navbar-nav mr-auto py-0">
                    <a href="{% url 'home' %}" {% if request.resolver_match.view_name == 'home' %} class="nav-item nav-link active" {% else %} class="nav-item nav-link" {% endif %}>Главная</a>
                    <a href="{% url 'news_index' %}" {% if request.resolver_match.view_name == 'news_index' %} class="nav-item nav-link active" {% else %} class="nav-item nav-link" {% endif %}>Все новости</a>
                    <a href="{% url 'contact_page' %}" class="nav-item nav-link">Контакты</a>

                    {% if request.user.id %}
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">{{ request.user.username }}</a>
                        <div class="dropdown-menu rounded-0 m-0">
                            {% if request.user|has_group:"Authors" %}
                            <a href="{% url 'create_article' %}" class="dropdown-item">Создать статью</a>
                            {% endif %}
                            <a href="{% url 'profile' %}" class="dropdown-item">Мой аккаунт</a>
                            <a href="{% url 'logout' %}" class="dropdown-item">Выход</a>
                        </div>
                    </div>
                    {% else %}
                    <a href="{% url 'login' %}" {% if request.resolver_match.view_name == 'login' %} class="nav-item nav-link active" {% else %} class="nav-item nav-link" {% endif %}>Вход</a>
                    <a href="{% url 'registration' %}" {% if request.resolver_match.view_name == 'registration' %} class="nav-item nav-link active" {% else %} class="nav-item nav-link" {% endif %}>Регистрация</a>
                    {% endif %}

                </div>



                <div class="row">
                    <form action="{% url 'search' %}" method="post">
                        {% csrf_token %}
                        <div class="search">
                            <input id="search_input" name="search_input">
                            <button type="submit" class="btn btn-primary" style="font-size:12px;">🔍︎</button>
                        </div>
                    </form>
                </div>



            </div>
                            <br >
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                  {{ message }}
                             </div>
                        {% endfor %}
                    {% endif %}
        </nav>

    </div>
    <!-- Navbar End -->